/* Body */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', san-serif;
}

button {
  border: 0px;

}

/* Header */
header {
   font-family: 'Open Sans, Bold', sans-serif !important;
   background: #1F1F3D;
   height: 100%;
   width: 300px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
}

h1,
h3,
.show-starred-ideas-button {
  margin: 20px;
}

h1 {
  color: #E9E9F3;
}

nav {
  border-top: 1px solid #5356A4;
  border-bottom: 1px solid #5356A4;
}

h3 {
  color: #BFBFDD;
}

.show-starred-ideas-button {
  font-size: 1.5em;
  color: #E9E9F3;
  background: #5356A4;
  width: 260px;
  height: 50px;
  margin-top: 0px;
}

/* Form & Cards Box */

.form-box,
.cards-box {
  margin-left: 300px;
}

/* Form */
form {
  background: #A9AAD2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

label {
  color: #1F1F3D;
}

input {
  border: 2px solid #1F1F3D;
}

.save-ideas-button {
  color: #E9E9F3;
  background: #1F1F3D;
}

.search-button {
  background: #1F1F3D;
  width: 30px;
  height: 30px;
}

/* Cards Box */
.cards-box {
  background: #EAEAF4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; */
}

/* Cards */
.card {
  border: 2px solid #1F1F3D;
  width: 225px;
  height: 275px;
  margin: 10px;
}

.star,
.delete,
.comment {
  background: transparent;
  width: 30px;
  height: 30px;
}

h2 {
  color: #1F1F3D;
}

.card-header {
  background: #1F1F3D;
}

.comment-bar {
  background:
  align-self: end;
}

.hidden {
  display: none !important;
}
